.container {
  padding: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.button {
  font-size: 1.05rem;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  background-color: var(--violet-400);
  color: var(--white-500);
}

.display {
  padding: 5px 8px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 1.0rem;
}