.container {
  background-color: transparent;
  color: var(--green-300);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--green-300);
  font-family: inherit;
  font-size: 1.0rem;
  font-weight: inherit;
  transition: background-color 200ms ease-in-out;
}

.container:hover {
  cursor: pointer;
}