.container {
  background-color: var(--font-green);
  color: var(--white-500);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: background-color 200ms ease-in-out;
}

.container:hover {
  cursor: pointer;
  background-color: var(--green-500);
}