@keyframes intro {
  0% {
    opacity: 0;
    transform: translate(0, -30);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.container {
  min-height: 100vh;
  margin-top: 100px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: none;
  animation: intro 500ms ease-in forwards normal;
  align-items: center;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  font-size: 1.05rem;
  border: none;
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  color: unset;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 95%;
  background: linear-gradient(180deg, #4b8a5d 0%, rgba(85, 165, 106, 0.8) 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 15px 15px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  position: relative;
}

.info {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  transition: all 100ms linear;
}

.picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: var(--grey-300);
}

.header {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 3px;
}

.subheader {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.0rem;
  color: #c7e9d4;
}

.name {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.rightProfile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rating {
  text-align: left;
  color: #c7e9d4;
  margin: 0;
  font-size: 1.0rem;
  font-weight: unset;
  width: fit-content;
}


.matchRequest {
  padding: 5px;
  background-color: var(--violet-300);
  border: none;
  border-radius: 3px;
  color: white;
  width: 130px;
  transition: background-color 200ms linear;
}

.matchRequest:hover {
  cursor: pointer;
  background-color: var(--violet-500);
}

.details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
  font-weight: 500;
}

.homeCourt {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  min-width: 250px;
  flex-grow: 2;
  background-color: #278049;
  color: rgb(230, 230, 230);
  border: 4px solid var(--violet-400);
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about {
  resize: none;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  margin: 20px 10px;
}

.aboutBody {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.link {
  margin-top: 25px;
  text-decoration: none;
  background-color: var(--violet-400);
  padding: 8px;
  width: fit-content;
  border-radius: 5px;
  color: inherit;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.link:hover {
  background-color: var(--violet-500);
}

.edit {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.8rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: 10%;
    align-items: flex-start;
  }

  .info {
    flex-direction: row;
    gap: 40px;
    width: auto;
  }

  .topDetails {
    flex-direction: row;
    margin: 40px 0;
    gap: 40px;
  }

  .about {
    max-width: 500px;
  }
  
  .homeCourt {
    max-width: 550px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    max-width: 900px;
  }

  .homeCourt {
    max-width: 750px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    max-width: 1000px;
  }
  
  .homeCourt {
    max-width: 850px;
  }
}